* {
  margin: 0;
  padding: 0;
}

.Body {
  background-color: antiquewhite;
}

/* Decoracion del Navbar */
nav {
  background-color: #846552;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  display: flex;
  justify-content: space-between;
}

nav.active {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

nav .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.active .container {
  padding: 10px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
}

nav a {
  color: #fff;
  padding: 7px 17px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  background-color: #fff;
  color: #222;
}

nav.active a {
  color: #000;
  padding: 7px 10px;
}

nav.active li a:hover {
  background-color: #222;
  color: #fff;
}

nav a.active {
  background-color: #c0392b;
  color: #fff;
}
/* Decoracion del Navbar close */

/* Foto del logo */
#HeaderLogo {
  height: 210px;
  padding: 1px;
}
/* Foto del logo close */

/* Navbar For Mobile responsive */
.bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px auto;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
  }

  .nav-menu {
    display: none;
    width: 100%;
  }

  .active {
    display: block;
  }

  .logo-container {
    width: 100%;
  }

  .nav-menu {
    width: 100%;
  }

  .menu-item {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: end;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 5%;
  }

  .menu-icon:hover .bar {
    background-color: darkcyan;
  }
}

/* Navbar For Mobile responsive Close*/

/* Footer */

.footer-basic {
  padding: 40px 0;
  background-color: #7f5539;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: wheat;
  margin-bottom: 0;
}



/* Footer Close */

