* {
  margin: 0;
  padding: 0;
}

.Body {
  background-color: #ddf4d9;
}

/* Decoracion del Navbar */
nav {
  background-color: #b7825f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

nav.active {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

nav .container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav.active .container {
  padding: 10px 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  list-style-type: none;
}

nav a {
  color: #fff;
  padding: 7px 17px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

nav li a:hover {
  background-color: #fff;
  color: #222;
}

nav.active a {
  color: #000;
  padding: 7px 10px;
}

nav.active li a:hover {
  background-color: #222;
  color: #fff;
}

nav a.active {
  background-color: #c0392b;
  color: #fff;
}

/* Decoracion del Navbar close */
/* Foto del logo */
#HeaderLogo {
  height: 210px;
  padding: 1px;
}

/* Foto del logo close */
/* Navbar For Mobile responsive */
.bar {
  width: 20px;
  height: 3px;
  background-color: black;
  margin: 4px auto;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navbar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav-menu {
    display: none;
    width: 100%;
  }
  .active {
    display: block;
  }
  .logo-container {
    width: 100%;
  }
  .nav-menu {
    width: 100%;
  }
  .menu-item {
    display: block;
    width: 100%;
    padding: 5px 0;
    text-align: end;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 5%;
  }
  .menu-icon:hover .bar {
    background-color: darkcyan;
  }
}

/* Navbar For Mobile responsive Close*/
/* Footer */
.footer-basic {
  padding: 40px 0;
  background-color: #b7825f;
  color: white;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}

.footer-basic .social > a:hover {
  opacity: 0.9;
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: wheat;
  margin-bottom: 0;
}

/* Footer Close */
/* Ruleta */
#RuletaTitulo {
  text-align: center;
  font-family: "Libre Bodoni", serif;
}

.TextoRuleta {
  text-align: center;
  font-family: "PT Serif", serif;
}

#Cen {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Ruleta close */
/* Titulo para tarjetas */
.Title {
  height: 480px;
  font-family: "Akshar", sans-serif;
}

.NombreLugar {
  text-align: center;
}

/* Titulo para tarjetas close */

/* Seccion Contactar */

.profile-card {
  background-color: #B4E197;
  border-radius: 40px;
  box-shadow: 0 68px 118px rgba(233, 249, 210, 0.5);
  margin: 30px auto 0;
  margin-bottom: 30px;
  padding: 10px;
  width: 350px;
  text-align: center;
}

header #Headerimg {
  float: left;
  height: 90px;
  width: 90px;
  margin-right: 30px;
}

header #Headerh1 {
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: bold;
  padding-top: 6px;
  text-transform: uppercase;
  text-align: center;
}

header #Headerh2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 0;
  text-align: center;
}

.profile-bio {
  margin-bottom: 50px;
  margin-top: 8px;
}

.profile-bio p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 34px;
}

.profile-social-links {
  border-top: 1px solid #efefef;
  list-style: outside none none;
  padding-top: 30px;
  text-align: center;
  margin-left: -40px;
}

.profile-social-links li {
  display: inline-block;
}

.profile-social-links img {
  height: 60px;
}

/* Seccion Contactar Close */
